{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Add Schedule</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.faculty.label }}
                    <input type="text" id="faculty" name="faculty" class="form-control" value="{{ selected_faculty.name }}" readonly>
                </div>

                <div class="form-group">
                    {{ form.group.label }}
                    <input type="text" id="group" name="group" class="form-control" value="{{ selected_group.name }}" readonly>
                </div>

                <div class="form-group">
                    {{ form.subgroup.label }}
                    <div>
                        {% for subgroup_id, subgroup_name in subgroups %}
                            <label class="checkbox-label">
                                <input type="radio" name="subgroup" value="{{ subgroup_id }}" {% if subgroup_id == selected_subgroup %}checked{% endif %}>
                                {{ subgroup_name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.subject.label }}
                    <input type="text" list="subjects" id="subject" name="subject" class="form-control">
                    <datalist id="subjects">
                        {% for subject in subjects %}
                            <option value="{{ subject.name }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="form-group">
                    {{ form.classroom.label }}
                    <input type="text" list="classrooms" id="classroom" name="classroom" class="form-control">
                    <datalist id="classrooms">
                        {% for classroom in classrooms %}
                            <option value="{{ classroom.name }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                {{ form.day_of_week.label }}
                {{ form.day_of_week(class="form-control") }}
                {{ form.lesson_number.label }}
                {{ form.lesson_number(class="form-control") }}
                {{ form.weeks.label }}
                <select name="weeks" id="weeks" multiple class="form-control">
                    {% for value, label in form.weeks.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
                <div id="selected-weeks">
                    <!-- Здесь будут отображаться выбранные недели -->
                </div>

                <div class="form-group">
                    {{ form.even_weeks.label }}
                    <div>
                        {% for even_weeks_id, even_weeks_name in even_weeks %}
                            <label class="checkbox-label">
                                <input type="radio" name="even_weeks" value="{{ even_weeks_id }}" {% if even_weeks_id == selected_even_weeks %}checked{% endif %}>
                                {{ even_weeks_name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.is_lecture.label(class="form-check-label") }}
                    {{ form.is_lecture(class="form-check-input") }}
                </div>
                <button type="submit" class="btn btn-primary">Add Schedule</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const select = document.getElementById("weeks");
        const selectedWeeksDiv = document.getElementById("selected-weeks");

        select.addEventListener("change", function() {
            const selectedOptions = Array.from(select.selectedOptions).map(option => parseInt(option.textContent));
            const formattedWeeks = [];

            let currentRange = [selectedOptions[0]];

            for (let i = 1; i < selectedOptions.length; i++) {
                if (selectedOptions[i] === selectedOptions[i - 1] + 1) {
                    // Продолжаем текущий диапазон
                    currentRange[1] = selectedOptions[i];
                } else {
                    // Добавляем текущий диапазон или неделю, если диапазон состоит из одной недели
                    if (currentRange[0] === currentRange[1]) {
                        formattedWeeks.push(currentRange[0]);
                    } else {
                        formattedWeeks.push(`${currentRange[0]}-${currentRange[1]}`);
                    }
                    currentRange = [selectedOptions[i]];
                }
            }

            // Добавляем последний диапазон или неделю, если верхняя граница существует

            if (currentRange[0] === currentRange[1]) {
                formattedWeeks.push(currentRange[0]);
            } else {
                formattedWeeks.push(`${currentRange[0]}-${currentRange[1]}`);
            }

            // Удаляем -undefined из строк
            const cleanedWeeks = formattedWeeks.map(week => week.replace("-undefined", ""));

            selectedWeeksDiv.innerHTML = "Selected Weeks: " + cleanedWeeks.filter(Boolean).join(", ");
        });
    </script>

    <script>
        const checkboxes = document.querySelectorAll('.subgroup-checkbox');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                checkboxes.forEach(otherCheckbox => {
                    otherCheckbox.nextElementSibling.style.backgroundColor = '';
                    otherCheckbox.nextElementSibling.style.color = '';
                    otherCheckbox.nextElementSibling.style.opacity = '0.6';
                });

                if (checkbox.checked) {
                    checkbox.nextElementSibling.style.backgroundColor = 'green';
                    checkbox.nextElementSibling.style.color = 'white';
                    checkbox.nextElementSibling.style.opacity = '1';
                }
            });
        });
    </script>
{% endblock %}