{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Main Page</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="GET" action="{{ url_for('schedule.add_schedule') }}">
                <div class="form-group">
                    <label for="faculty_select">Select a Faculty</label>
                    <select class="form-control" id="faculty_select" name="selected_faculty_id">
                        {% for faculty in faculties %}
                            <option value="{{ faculty.id }}">{{ faculty.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="group_select">Select a Group</label>
                    <select class="form-control" id="group_select" name="selected_group_id" disabled>
                        <!-- Опции групп будут добавлены с помощью JavaScript -->
                    </select>
                </div>
                <form method="GET" action="{{ url_for('schedule.add_schedule', selected_group_id=selected_group_id, selected_faculty_id=selected_faculty_id) }}">
                    <button type="submit" class="btn btn-primary">Add Schedule</button>
                </form>
            </form>
        </div>
    </div>
    <a href="{{ url_for('schedule.view_schedules') }}" class="btn btn-success btn-sm">View Schedules</a>
    <a href="{{ url_for('schedule.create_faculty') }}" class="btn btn-success btn-sm">Create Faculty</a>
    <a href="{{ url_for('schedule.view_current_schedule') }}" class="btn btn-success btn-sm">View Current Schedule</a>
{% endblock %}

{% block scripts %}
    <script>
        // Получаем элементы выбора факультета и группы
        const facultySelect = document.getElementById('faculty_select');
        const groupSelect = document.getElementById('group_select');

        // Функция для обновления опций в поле выбора групп
        function updateGroupOptions(groups) {
            // Очищаем текущие опции
            groupSelect.innerHTML = '';

            // Если есть доступные группы, добавляем их как опции
            if (groups.length > 0) {
                groups.forEach(group => {
                    const option = document.createElement('option');
                    option.value = group.id;
                    option.textContent = group.name;
                    groupSelect.appendChild(option);
                });

                // Включаем поле выбора групп и убираем атрибут disabled
                groupSelect.removeAttribute('disabled');
            } else {
                // Если нет доступных групп, добавляем пустую опцию и устанавливаем атрибут disabled
                const option = document.createElement('option');
                option.textContent = 'No groups available';
                groupSelect.appendChild(option);
                groupSelect.setAttribute('disabled', 'disabled');
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const facultySelect = document.getElementById("faculty_select");
            const groupSelect = document.getElementById("group_select");

            // Определите вашу функцию обработки события изменения факультета
            function handleFacultyChange() {
                const selectedFacultyId = facultySelect.value;
                fetch(`/schedule/get_groups_by_faculty/${selectedFacultyId}`)
                    .then(response => response.json())
                    .then(data => {
                        const groups = data.groups;
                        updateGroupOptions(groups);
                    });
            }

            // Добавьте слушателя события изменения факультета
            facultySelect.addEventListener('change', handleFacultyChange);

            // Вызовите функцию один раз при загрузке страницы
            handleFacultyChange();
        });
    </script>
{% endblock %}