{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Select Your Group</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="GET" action="{{ url_for('schedule.add_group_for_student') }}">
                <div class="form-group">
                    <label for="faculty_select">Select a Faculty</label>
                    <select class="form-control" id="faculty_select" name="selected_faculty_id">
                        {% for faculty in faculties %}
                            <option value="{{ faculty.id }}">{{ faculty.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="group_select">Select a Group</label>
                    <select class="form-control" id="group_select" name="selected_group_id" disabled>
                        <!-- Опции групп будут добавлены с помощью JavaScript -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="group_select">Select a Subgroup</label>
                    <select class="form-control" id="subgroup_select" name="selected_subgroup" disabled>
                        <!-- Опции подгрупп будут добавлены с помощью JavaScript -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Select Group</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        // Получаем элементы выбора факультета и группы
        const facultySelect = document.getElementById('faculty_select');
        const groupSelect = document.getElementById('group_select');
        const subgroupSelect = document.getElementById('subgroup_select');

        // Функция для обновления опций в поле выбора групп
        function updateGroupOptions(groups) {
            // Очищаем текущие опции
            groupSelect.innerHTML = '';

            // Если есть доступные группы, добавляем их как опции
            if (groups.length > 0) {
                groups.forEach(group => {
                    const option = document.createElement('option');
                    option.value = group.id;
                    option.textContent = group.name;
                    groupSelect.appendChild(option);
                });

                // Включаем поле выбора групп и убираем атрибут disabled
                groupSelect.removeAttribute('disabled');
            } else {
                // Если нет доступных групп, добавляем пустую опцию и устанавливаем атрибут disabled
                const option = document.createElement('option');
                option.textContent = 'No groups available';
                groupSelect.appendChild(option);
                groupSelect.setAttribute('disabled', 'disabled');
            }
        }

        // Функция для обновления опций в поле выбора подгрупп
        function updateSubgroupOptions(subgroups) {
            // Очищаем текущие опции
            subgroupSelect.innerHTML = '';

            // Если есть доступные подгруппы, добавляем их как опции
            if (subgroups.length > 0) {
                subgroups.forEach(subgroup => {
                    const option = document.createElement('option');
                    option.value = subgroup.id;
                    option.textContent = subgroup.name;
                    subgroupSelect.appendChild(option);
                });

                // Включаем поле выбора подгрупп и убираем атрибут disabled
                subgroupSelect.removeAttribute('disabled');
            } else {
                // Если нет доступных подгрупп, добавляем пустую опцию и устанавливаем атрибут disabled
                const option = document.createElement('option');
                option.textContent = 'No subgroups available';
                subgroupSelect.appendChild(option);
                subgroupSelect.setAttribute('disabled', 'disabled');
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const facultySelect = document.getElementById("faculty_select");
            const groupSelect = document.getElementById("group_select");

            // Определите вашу функцию обработки события изменения факультета
            function handleFacultyChange() {
                const selectedFacultyId = facultySelect.value;
                fetch(`/schedule/get_groups_by_faculty/${selectedFacultyId}`)
                    .then(response => response.json())
                    .then(data => {
                        const groups = data.groups;
                        updateGroupOptions(groups);
                        handleGroupChange();

                    });
            }

            // Определите вашу функцию обработки события изменения группы
            function handleGroupChange() {
                const selectedGroupId = groupSelect.value;
                fetch(`/schedule/get_subgroups_by_group/${selectedGroupId}`)
                    .then(response => response.json())
                    .then(data => {
                        const subgroups = data.subgroups;
                        updateSubgroupOptions(subgroups);
                    });
            }

            // Добавьте слушателя события изменения факультета
            facultySelect.addEventListener('change', handleFacultyChange);
            // Добавьте слушателя события изменения группы
            groupSelect.addEventListener('change', handleGroupChange);

            // Вызовите функцию один раз при загрузке страницы
            handleFacultyChange();
        });
    </script>
{% endblock %}