{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block app_content %}
    <h1>All Schedules</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Group</th>
                <th>Day of the Week</th>
                <th>Weeks</th>
                <th>Lesson Number</th>
                <th>Subject</th>
                <th>Classroom</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in schedule_entries %}
                <tr>
                    <td>{% if entry.subgroup != 0 %}{{ entry.group.name }}/{{ entry.subgroup }}{% else %}{{ entry.group.name }}{% endif %}</td>
                    <td>{{ entry.day_of_week }}</td>
                    <td>{{ entry.weeks }} {% if entry.even_weeks == 1 %}ч/н{% elif entry.even_weeks == 2 %}н/н{% endif %}</td>
                    <td>{{ entry.lesson_number }}</td>
                    {% if entry.is_lecture %}
                        <td>{{ entry.subject.name|upper }}</td>
                    {% else %}
                        <td>{{ entry.subject.name }}</td>
                    {% endif %}
                    <td>{{ entry.classroom.name }}</td>
                    <td>
                        <a href="{{ url_for('schedule.edit_schedule', schedule_id=entry.id) }}" class="btn btn-primary btn-sm">
                            Edit
                        </a>
                        <a href="{{ url_for('schedule.delete_schedule', schedule_id=entry.id) }}" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
