.subgroup-checkboxes {
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    margin-bottom: 5px;
}

.subgroup-checkbox {
    display: none;
}

.subgroup-checkbox:checked + .subgroup-number {
    background-color: green;
    color: white;
    opacity: 1;
}
